<!doctype html>
<html ng-app="cs142App" ng-controller="MainController">
<head>

    <title>{{main.title || "CS142 Class Project"}}</title>

    <link href="./node_modules/angular-material/angular-material.css" rel="stylesheet" />

    <script src="./node_modules/angular/angular.js" type="text/javascript" ></script>
    <script src="./node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="./node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./node_modules/angular-material/angular-material.js" type="text/javascript" ></script>
    <script src="./node_modules/angular-resource/angular-resource.js"></script>
    <script src="./node_modules/angular-cookies/angular-cookies.js"></script>

    <script src="node_modules/angular-route/angular-route.js"></script>

    <script src="mainController.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css" />

    <script src="components/user-list/user-listController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/user-list/user-list.css" />

    <script src="components/user-detail/user-detailController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/user-detail/user-detail.css" />

    <script src="components/user-photos/user-photosController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/user-photos/user-photos.css" />

    <script src="components/login-register/login-registerController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/login-register/login-register.css"/>

    <script src="components/comment/commentController.js"></script>
    <link rel="stylesheet" type="text/css" href="components/comment/comment.css"/>

    <script src="components/visibility-control/visibility-controlController.js"></script>

    <script src="cs142password.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body layout="column">

    <md-toolbar layout="row">
        <div class="cs142-main-toolbar">
            <div class="cs-142-main-leftSide">
                <md-button hide-gt-sm ng-click="main.showUserList()">
                    <div class="material-icons">more_vert</div>
                </md-button>
                <!--The left side of the md-toolbar should have your name.-->
                <div class="cs142-main-author_version">
                    <div class="cs142-main-author" >{{main.authorName}}</div>
                    <div class="cs142-main-version">Version: {{main.version}}</div>
                </div>
            </div>
            <!--This part shows the logged in user-->

            <div ng-show="main.loggedInUser">
                <form>
                    <div class="file-input">
                        <p class="input-container">
                            Upload
                            <input type="file" accept="image/*" onchange="angular.element(this).scope().main.inputFileNameChanged(this)">
                        </p>
                        <span id="name"></span>
                    </div>
                </form>
            </div>

            <div ng-show="main.loggedInUser" class="cs142-main-barElement" title="Only show one picture each page">
                <input type="checkbox" id="advanced-feature">Advanced Feature
            </div>

            <form ng-submit="main.submit()" class="cs142-main-searchComment" ng-show="main.loggedInUser">
                <span><input ng-model="main.comment" class="cs142-main-comment"></span>
                <span><button>Search Comment</button></span>
            </form>

            <div class="cs-142-main-rightSide" ng-show="main.loggedInUser">
                {{main.appContext}}&nbsp;&nbsp;
                <button ng-click="main.logout()">
                    Logout
                </button>
            </div>

            <div ng-show="!main.loggedInUser">
                <p class="md-subhead">
                    Login
                </p>
            </div>

        </div>
    </md-toolbar>

    <div class="container" flex layout="row">
        <md-sidenav ng-if="main.loggedInUser" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="users"  class="md-whiteframe-z2 cs142-main-sidenav">
            <div ng-include="'components/user-list/user-listTemplate.html'" ng-controller="UserListController"></div>
        </md-sidenav>

        <md-content flex id="content">
            <div ng-view class="cs142-main-background"></div>
        </md-content>

    </div>

</body>
</html>
