<div class="cs142-photos-list">
    <!--<a ng-click="gotoBottom()">Go to bottom</a>-->

    <div ng-show="userPhotos.noPhotos" class="cs142-photos-noPhotos">Let's upload the photos!</div>
    <div  ng-repeat="photo in userPhotos.photos" id={{photo._id}} class="cs142-photos-photo">
        <div class="cs142-photos-photoDate">
            <div>{{photo.date_time}}</div>
            <!--<button ng-if="userPhotos.hasPhotoAuthority(photo)" ng-click="userPhotos.delete(photo)">Delete</button>-->
            <md-button class="md-primary md-raised" ng-if="userPhotos.hasPhotoAuthority(photo)" ng-click="userPhotos.delete($event,photo)">
                Delete
            </md-button>
        </div>

        <img ng-src="/images/{{photo.file_name}}" class="cs142-photos-image">
        <div ng-show="userPhotos.checked" class="cs142-photos-buttons">
            <button ng-click="userPhotos.previous()">Previous</button>
            <button ng-click="userPhotos.next()">Next</button>
        </div>
        <div class="cs142-photos-photoLike">
            <div class="cs142-photos-like">
                <img ng-src="/images/like3.jpg" ng-click = "userPhotos.like(photo)">
                {{photo.like_user_ids.length}}
            </div>
            <div class="cs142-photos-like">
                <img ng-src="/images/dislike2.png" ng-click = "userPhotos.dislike(photo)">
                {{photo.dislike_user_ids.length}}
            </div>

        </div>

        <div class="cs142-photos-comments">
            <div class="cs142-photos-commentHead">
                <div class="cs142-photos-comment2">Comments</div>
                <div class="cs142-photos-viewTimes">View Times:{{photo.view_times}}</div>  
            </div>

            <div ng-repeat="comment in photo.comments" class="cs142-photos-comment">
                <div class="cs142-photos-commentTitle">
                    <div class="cs142-photos-commentor">
                        <a ng-href="#!users/{{comment.user._id}}">
                            {{comment.user.first_name }} {{comment.user.last_name}}
                        </a>
                    </div>
                    <div class="cs142-photos-commentTime">
                        {{comment.date_time}}
                    </div>
                </div>
                <div class="cs142-photos-content">{{comment.comment}}</div>
                <md-button class="md-primary md-raised" ng-if="userPhotos.hasCommentAuthority(comment)" ng-click="userPhotos.deleteComment($event,photo,comment)">
                    Delete Comment
                </md-button>
            </div>

            <div class="cs142-photos-addComment">
                <textarea ng-model="userPhotos.newComment" placeholder="Add comment" class="cs142-photos-text"></textarea>
                <button class="cs142-photos-deleteComment" ng-click="userPhotos.addComment(photo)">
                    Submit
                </button>
            </div>

        </div>
    </div>
    <!--<a id="bottom"></a> You're at the bottom!-->
</div>