.cs142-user-list-side{
    padding: 20px;
    color: wheat;
}

.cs142-user-list-title{
    font-size: 40px;
}
.cs142-user-list-a{
    border-radius: 3px;
    border: solid 1px;
    width: 100%;
    margin-bottom: 3px;
    background: gray;
    opacity: 0.5;

}
.cs142-user-list-a a{
    font-size: 25px;
    text-decoration: none;
    color:black;
    cursor: pointer;
    padding-left: 5px;
}

.cs142-user-list-a:hover{
    text-decoration: none;
    color:gold;
    opacity: 0.9;
}

.cs142-user-list-bubble1 {
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    background: green;
    border-radius: 15px;
    float: right;
    padding-left: 0 !important;
    margin-left: 3px;
}

.cs142-user-list-bubble2 {
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    background: green;
    border-radius: 15px;
    float: right;
}

.cs142-user-list-bubble1:hover{
    background: yellowgreen;
}

a{
    text-decoration: none;
}

md-sidenav{
    top:59px;
    background-color: #efefef;
}

.thumbnail{
    margin: 0em;
    height: 4em;
    width: 4em;
    display: block;
}