<div class="cs142-detail-properties">
    <div class="cs142-detail-name">
        <span class="cs142-detail-userName">{{userDetail.fullName}}</span>
        <span class="cs142-detail-userLocation">{{userDetail.user.location}}</span>
    </div>
    <a ng-href="{{'#!/photos/' + userDetail.user._id}}">
        <span class="cs142-detail-photos">See the photos!</span>
    </a>
    <br>

    <span class="cs142-detail-property"> Occupation: </span>
    <span class="cs142-detail-content">{{userDetail.user.occupation}}</span>

    <br>

    <span class="cs142-detail-property"> Description: </span>
    <span class="cs142-detail-content">{{userDetail.user.description}}</span>

</div>